body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:285px;
  height:506px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:506px;
}
#u1 {
  position:absolute;
  left:2px;
  top:245px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:152px;
  top:480px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:390px;
  top:80px;
  width:300px;
  height:24px;
  font-size:16px;
  line-height:24px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:50px;
  width:285px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:281px;
  word-wrap:break-word;
}
