body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:325px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:130px;
  width:278px;
  height:429px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:429px;
}
#u3 {
  position:absolute;
  left:50px;
  top:237px;
  width:235px;
  height:19px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:50px;
  top:435px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:31px;
  top:129px;
  width:282px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:292px;
  width:120px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:142px;
  top:314px;
  width:57px;
  height:57px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:368px;
  top:292px;
  width:192px;
  height:128px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:128px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:185px;
  top:435px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
