body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:752px;
  top:74px;
  width:456px;
  height:532px;
  font-size:16px;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:532px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:309px;
  top:74px;
  width:321px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
