body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:145px;
  width:66px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:80px;
  top:182px;
  width:40px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:160px;
  top:175px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:160px;
  top:140px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:80px;
  top:225px;
  width:66px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:160px;
  top:219px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:480px;
  top:230px;
  width:-110px;
  height:0px;
}
#u9_seg0 {
  position:absolute;
  left:-114px;
  top:-10px;
  width:124px;
  height:20px;
}
#u10 {
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:490px;
  top:223px;
  width:53px;
  height:13px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1348px;
  height:80px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:950px;
  top:32px;
  width:89px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1049px;
  top:32px;
  width:50px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:81px;
  width:1348px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:73px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:183px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:28px;
  top:13px;
  width:147px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:21px;
  width:35px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:90px;
  top:29px;
  width:85px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:953px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1090px;
  top:32px;
  width:50px;
  height:17px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1133px;
  top:32px;
  width:74px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1063px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:293px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:403px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:513px;
  top:81px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:44px;
  top:59px;
  width:337px;
  height:330px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:330px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:30px;
  top:20px;
  width:110px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:30px;
  top:60px;
  width:290px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:56px;
  top:80px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:56px;
  top:107px;
  width:249px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:232px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:249px;
  height:1px;
}
#u54 {
  position:absolute;
  left:56px;
  top:130px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:140px;
  top:55px;
  width:180px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u57 {
  position:absolute;
  left:151px;
  top:80px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:151px;
  top:130px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
