body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:325px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:130px;
  width:278px;
  height:429px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:429px;
}
#u3 {
  position:absolute;
  left:73px;
  top:236px;
  width:109px;
  height:19px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:58px;
  top:427px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:114px;
  top:274px;
  width:100px;
  height:16px;
  font-size:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:114px;
  top:300px;
  width:100px;
  height:16px;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:114px;
  top:326px;
  width:100px;
  height:16px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:114px;
  top:352px;
  width:100px;
  height:16px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:114px;
  top:378px;
  width:16px;
  height:21px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:370px;
  top:247px;
  width:300px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:180px;
  top:427px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:31px;
  top:129px;
  width:282px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
