body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:325px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:130px;
  width:278px;
  height:429px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:429px;
}
#u3 {
  position:absolute;
  left:73px;
  top:220px;
  width:200px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:33px;
  top:510px;
  width:279px;
  height:49px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:49px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:53px;
  top:431px;
  width:240px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:162px;
  top:480px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:360px;
  top:190px;
  width:170px;
  height:84px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:84px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:31px;
  top:129px;
  width:282px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:278px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:39px;
  top:518px;
  width:38px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
