body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:30px;
  width:321px;
  height:570px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:39px;
  top:610px;
  width:321px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:400px;
  top:59px;
  width:590px;
  height:211px;
  font-size:16px;
  line-height:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:211px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
