body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1090px;
  top:60px;
  width:340px;
  height:174px;
  font-size:16px;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:174px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:50px;
  width:321px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:50px;
  width:321px;
  height:570px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u5 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:643px;
  width:670px;
  height:377px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:377px;
}
#u7 {
  position:absolute;
  left:2px;
  top:180px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:650px;
  width:321px;
  height:570px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u9 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:390px;
  top:1040px;
  width:670px;
  height:377px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:377px;
}
#u11 {
  position:absolute;
  left:2px;
  top:180px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:739px;
  top:50px;
  width:321px;
  height:570px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u13 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
