body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:60px;
  width:300px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
