body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:770px;
  top:60px;
  width:300px;
  height:308px;
  font-size:14px;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:308px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:50px;
  width:321px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:409px;
  top:50px;
  width:321px;
  height:570px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u5 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:650px;
  width:321px;
  height:570px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u7 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:409px;
  top:650px;
  width:321px;
  height:570px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u9 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
