body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:325px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:130px;
  width:278px;
  height:429px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:429px;
}
#u3 {
  position:absolute;
  left:60px;
  top:210px;
  width:230px;
  height:220px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:220px;
}
#u4 {
  position:absolute;
  left:2px;
  top:104px;
  width:226px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:32px;
  top:129px;
  width:282px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:278px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:510px;
  width:279px;
  height:49px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:49px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:350px;
  top:210px;
  width:300px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:85px;
  top:470px;
  width:170px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
